<script>
  $(document).ready(function () {
    $(".btn-update").on("click", function () {
        const taskId = $(this).data("task-id");
        $.ajax({
            url: `/tasks/${taskId}/update_status/`, 
            type: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" }, 
            success: function (response) {
                if (response.status) {
                    $(".alert").html(`Status berhasil diperbarui menjadi <strong>${response.status}</strong>.`);
                    $(".alert").show();

                    if (response.status === "in_progress") {
                        $(".btn-update").text("Mark as Completed");
                    } else if (response.status === "completed") {
                        $(".btn-update").prop("disabled", true).text("Completed");
                    }

                    setTimeout(function () {
                        $(".alert").alert('close');
                        location.reload();
                    }, 3000);
                }
            },
            error: function (xhr) {
                alert(xhr.responseJSON.error || "Terjadi kesalahan.");
            }
        });
    });
});

</script>
